---
import BaseLayout from '../layouts/BlogPost.astro';
---

<BaseLayout
  title="Curriculum Vitae"
  description="关于我的工作经历与技能"
  pubDate={new Date('2026-03-13')}
>
  <h2>工作经历</h2>
  <p>这里开始用 Markdown 或 HTML 写你的简历...</p>
</BaseLayout>